<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>for warrior's</h3>
    <a href="/api/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>